In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv('Resources/vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y

In [3]:
# Step 1: Create new DataFrame to retrieve all the rows where the total_votes count is equal to or greater than 20 
vine_df1 = vine_df.loc[vine_df.total_votes >= 20,:]
vine_df1

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [4]:
# Step 2: Filter the table created in Step 1 and create a new DataFrame to retrieve all the rows where the number of
# helpful_votes divided by total_votes is equal to or greater than 50%.
vine_df2 = vine_df1.loc[ (vine_df1.helpful_votes/vine_df1.total_votes) >= 0.5,:]
vine_df2

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [5]:
# Step 3: Filter the table in Step 2, and create a new DataFrame that retrieves all the rows where a review was 
# written as part of the Vine program (paid), vine == 'Y'.
vine_df3 = vine_df2.loc[vine_df2.vine == "Y",:]
vine_df3

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7569,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N
20672,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N
...,...,...,...,...,...,...
4464051,R37TJH51JX1Q69,5.0,40.0,42.0,Y,N
4541849,R22ZIZJSUY0KTE,5.0,74.0,80.0,Y,N
4541916,RUSUDSP3IX5LO,2.0,87.0,102.0,Y,N
4630218,R199NONGNGZX3S,4.0,20.0,21.0,Y,N
4647725,R20J143LVLMX3J,4.0,31.0,35.0,Y,N

In [6]:
# Step 4: Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program 
vine_df4 = vine_df2.loc[vine_df2.vine == "N",:]
vine_df4

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [7]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the 
# two types of review (paid vs unpaid).
total_reviews = len(vine_df2.loc[vine_df2.star_rating == 5.0,:])
perc_vinedf3 = (len(vine_df3.loc[vine_df3.star_rating == 5.0,:])/total_reviews)*100
perc_vinedf4 = (len(vine_df4.loc[vine_df4.star_rating == 5.0,:])/total_reviews)*100
print(f"the total number of reviews - 5 star reviews is {total_reviews} \n")
print(f"the percentage of 5 star reviews for paid program is {perc_vinedf3} \n")
print(f"the percentage of 5 star reviews for unpaid program is is {perc_vinedf4} \n")

the total number of reviews - 5 star reviews is 30414

the percentage of 5 star reviews for paid program is 1.4203985006904716

the percentage of 5 star reviews for unpaid program is is 98.57960149930953